.usertable tr:nth-child(even) {
  background: #edf3ff;
}

.usertable tr:nth-child(even) {
  background: #edf3ff;
}

.sc-eqUAAy.gocYik.rdt_TableHeadRow {
  background: #e4e6ff;
  color: #41479b;
  font-size: 16px;
  font-weight: 600;
}

.hbgCLW:nth-child(even) {
  background: #edf3ff;
}

.ikexHN {
  font-size: 14px;
}

.w-full.h-max.text-gray-700.p-4.antialiased.font-sans.text-base.font-light.leading-relaxed {
  padding: 0;
}

.actionpopup:before {
  content: "";
  position: absolute;
  border-bottom: solid 10px #bdbbbb;
  border-top: solid 10px transparent;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  top: -20px;
  left: 66%;
}

body {
  background: #e4e6ff91;
}

.absolute.inset-0.z-10.h-full.bg-white.rounded-md.shadow {
  opacity: 0;
  background: transparent !important;
}

@media (max-width:992px) {

  .md\:col-span-6 {
    grid-column: span 6 / span 6;
  }
}

@media (max-width:767px) {
  .sm\:col-span-12 {
    grid-column: span 12 / span 12;
  }

  .sm\:mr-0 {
    margin-right: 0px !important;
  }

  .sm\:mt-3 {
    margin-top: 0.75rem !important;
  }

  .sm\:mb-4 {
    margin-bottom: 1rem !important;
  }

  .search-user {
    width: 100%;
  }

  .searchicon {
    left: 11px;
    right: inherit;
  }


  .sm\:text-xl {
    font-size: 1.25rem !important;

  }

  .sm\:text-sm {
    font-size: 13px !important;

  }
}

@media(max-width:300px) {
  nav ul {
    display: block !important;
  }

  .sm\:text-sm {
    font-size: 10px !important;
  }
}