.main {
  background: url(/DisployImg/bg-img.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
}

.formLabel {
  position: absolute;
  top: -9px;
  left: 13px;
  z-index: 9;
  background: #fff;
  font-size: 12px;
  color: #808080;
  margin-bottom: 0;
  padding: 0 5px;
}

.formInput {
  position: relative;
  border: 1px solid #19191b;
  border-radius: 9px;
  width: 100%;
  padding: 14px;
}

.icon {
  position: absolute;
  top: 50%;
  right: 0%;
  z-index: 9;
  margin-bottom: 0;
  padding: 0 5px;
  transform: translate(-50%, -50%);
}

.socialIcon {
  background: #ffffff;
  padding: 8px;
  margin: 7px;
  border-radius: 9px;
  font-size: 25px;
  fill: #00072e;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcon.socialIcon1:hover,
.socialIcon.socialIcon1:hover svg {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cc0000+0,cc0000+100;Red+Flat */
  background: #cc0000;
  /* Old browsers */
  background: -moz-linear-gradient(left, #cc0000 0%, #cc0000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #cc0000 0%, #cc0000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #cc0000 0%, #cc0000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc0000', endColorstr='#cc0000', GradientType=1);
  /* IE6-9 */
}

.socialIcon.socialIcon2:hover,
.socialIcon.socialIcon2:hover svg {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2c539e+0,2c539e+100;Blue+3D+%232 */
  background: #2c539e;
  /* Old browsers */
  background: -moz-linear-gradient(left, #2c539e 0%, #2c539e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2c539e 0%, #2c539e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2c539e 0%, #2c539e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c539e', endColorstr='#2c539e', GradientType=1);
  /* IE6-9 */
}

.socialIcon.socialIcon3:hover,
.socialIcon.socialIcon3:hover svg {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,595959+51,666666+100,2c2c2c+100,131313+100,666666+101 */
  background: #4c4c4c;
  /* Old browsers */
  background: -moz-linear-gradient(left,
      #4c4c4c 0%,
      #595959 51%,
      #666666 100%,
      #2c2c2c 100%,
      #131313 100%,
      #666666 101%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left,
      #4c4c4c 0%,
      #595959 51%,
      #666666 100%,
      #2c2c2c 100%,
      #131313 100%,
      #666666 101%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,
      #4c4c4c 0%,
      #595959 51%,
      #666666 100%,
      #2c2c2c 100%,
      #131313 100%,
      #666666 101%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#666666', GradientType=1);
  /* IE6-9 */
}

.socialIcon.socialIcon4:hover,
.socialIcon.socialIcon4:hover svg {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,7db9e8+100 */
  background: #1e5799;
  /* Old browsers */
  background: -moz-linear-gradient(left, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left,
      #1e5799 0%,
      #2989d8 50%,
      #7db9e8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=1);
  /* IE6-9 */
  color: #fff;
}


input#email::placeholder,
input#password::placeholder {
  font-size: 16px !important;
}

@media (max-width:450px) {

  input#email::placeholder,
  input#password::placeholder,
  .formInput::placeholder {
    font-size: 13px !important;
  }

  .formInput {
    padding: 10px;
  }
}

@media (max-width: 330px) {
  .socialIcon {
    height: 30px;
    width: 30px;
    padding: 7px;
  }
}




@media (max-device-width:1300px) and (max-device-height:800px) {

  .registration .md\:h-screen,
  .registration .h-screen {
    height: auto !important;
  }
}

@media (max-device-width:700px) and (max-device-height:850px) {
  .registration .h-screen {
    height: auto !important;
  }
}

@media (max-device-width:640px) and (max-device-height:400px) {
  .login .h-screen {
    height: auto !important;
  }
}

@media (max-device-width:360px) and (max-device-height:640px) {
  .login .h-screen {
    height: auto !important;
  }
}