.scheduleAction {
  position: absolute;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px #ccc;
  font-size: 16px;
  width: 140px;
  border: 1px solid #ccc;
  transform: translate(2%, 21px);
  right: -50%;
  top: 50%;
}

.scheduleAction:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  transform: rotate(45deg);
  top: -8px;
  right: 14px;
}
div#_dialog_wrapper {
  max-width: 90% !important;
  width: 90% !important;
}
