/* comman css */
input:focus,
input:focus-visible,
select:focus,
select:focus-visible,

textarea:focus,
textarea:focus-visible {
  box-shadow: 0px 3px 18px 1px #41479b80;
  border: 1px solid #41479b78 !important;
  outline: none !important;

}

.screenIcon {
  border: 1px solid #00072e;
  margin: 5px;
  border-radius: 45px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.asset-btn:hover svg {
  background: #fff;
  border-radius: 5px;
  fill: #000;
}

div#tooltip-bottom {
  font-size: 12px;
  padding: 5px;
  white-space: nowrap;
  z-index: 99;
}

div#tooltip-bottom:before {
  content: "";
  position: absolute;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #41479B;
  top: -18px;
  left: 50%;
  transform: translate(-50%, 0px);
}

.select-all-screen {
  white-space: wrap !important;
}

img.cursor-pointer.tagPopup {
  margin: 0;
  width: 17px;
  height: 21px;
  background: #fff !important;
  padding: 0;
}

img.cursor-pointer.assestPopup {
  margin: 0;
  width: 17px;
  height: 13px;
  background: #fff !important;
  padding: 0;
}

@media (max-width: 767px) {
  .sm\:mt-3 {
    margin-top: 0.75rem !important;
  }

  .sm\:px-5 {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
  }

  .sm\:block {
    display: block !important;
  }

  .sm\:p-3 {
    padding: 0.75rem !important;
  }
}

/* screen detail css */

input::placeholder {
  color: #000 !important;
  font-size: 16px !important;
}

@media(max-width:767px) {

  .screen-details,
  .screen-details tr,
  .screen-details td {
    display: block;
  }

  .sm\:hidden {
    display: none !important;
  }

}

/* screen player page */
.screen-palyer-img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen-player-details {
  padding-top: 12%;
  margin-top: 10%;
}

.show-togglecontent {
  display: block;
}

.togglecontent,
.togglesynccontent {
  display: none;
}

button.tab {
  padding: 10px 30px;
  background: #fff;
  border-radius: 20px;
  width: 120px;
}

li.text-sm.firstli button.tabshow.tabactive {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

button.tabshow.tabactive {
  background: #00072e;
  color: #ffff;
  padding: 10px 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 120px;
}

.synctab {
  background: #fff;
  color: #D9D9D9;
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 20px;
  margin: 0 5px;
  border: 1px solid #D9D9D9;

}

button.tabsyncshow.tabsyncactive {
  background: #D9D9D9;
  color: #001737;
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 20px;
  margin: 0 5px;
  border: 1px solid #D9D9D9;


}

.sync-table input,
.sync-table select {
  border: 1px solid #D5E3FF;
  border-radius: 30px;
  padding: 10px 20px;
  width: 100%;
  font-size: 16px;

}

.sync-table input::placeholder,
.sync-table select::placeholder {
  color: #515151;

}

.mediadw {
  position: absolute;

  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px #ccc;
  font-size: 16px;
  width: 166px;
  border: 1px solid #ccc;
  left: 17%;
  transform: translate(-50%, 11px);
}

.mediadw:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  transform: rotate(45deg);
  top: -8px;
  left: 48%;
}

@media(max-width:767px) {

  table.sync-table.w-full,
  table.sync-table.w-full tr,
  table.sync-table.w-full td,
  table.screen-status,
  table.screen-status tr,
  table.screen-status td {
    display: block;
    text-align: left;
    font-size: 14px !important;
  }

  .screen-palyer-img {
    position: relative;
    left: 00%;
    transform: translate(0%, 0%);
    margin-top: 10px;
  }

  .sm\:pb-0 {
    padding-bottom: 0px !important;
  }

  .screen-player-details {
    padding-top: 0;
    margin-top: 0%;
  }

  td.text-right {
    padding-bottom: 0;
  }

  .sm\:w-full {
    width: 100%;
  }
}

@media(max-width:350px) {
  .xs-block {
    display: block !important;
  }

  button.tabshow.tabactive,
  button.tab {
    width: 80px;
    padding: 5px 10px;
  }
}

/* newsacreen details */
.mediactivetab {
  padding: 10px 8px 10px 15px;
}

.mediactivetab.active {
  box-shadow: -35px 3px 39px 9px #8888885c;
  background: #fff;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  z-index: 9;
}