.dotline {
  position: relative;
  border: 1px solid #8e94a9;
}

/* .dotline:before {
  position: absolute;
  content: "";
  left: -8px;
  top: -4px;
  width: 8px;
  height: 8px;
  background: #8e94a9;
  z-index: 9;
  border-radius: 50%;
}

.dotline::after {
  position: absolute;
  content: "";
  right: -5px;
  top: -4px;
  width: 8px;
  height: 8px;
  background: #8e94a9;
  z-index: 9;
  border-radius: 50%;
} */

/* .nav-text {
  position: relative;
  cursor: pointer;
  padding: 6px 0px 6px 0px;
} */

/* .link-items:before {
  content: "";
  position: absolute;
  left: -13px;
  top: 4px;
  width: 2px;
  height: 90%;
  background: transparent;
  border-radius: 50px;
} */

/* .link-items:hover::before {
  background: #fff;
  transition: 2s all;
} */

/* .link-items:focus::before, .link-items.active::before {
  background: #fff;
  transition: 2s all;
} */

li.p-2.relative.submenu:hover {
  background: #292e4a;
  border-radius: 20px;
}

.nav-text a {
  color: #8e94a9;
  font-size: 14px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

img.cursor-pointer.profilePopup {
  margin: 0;
  width: 17px;
  height: 21px;
  background: #fff !important;
  padding: 0;
}

.topbar img {

  padding: 5px;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.topbar img.profile {
  background-color: transparent;
  border-radius: 16px;
  width: 40px;
  height: 40px;
}

/* .menu-bars {
  font-size: 2rem;
  background: none;
} */
.topbar img.profileBox {
  background-color: transparent;
  border-radius: 16px;
  width: 46px;
  height: 46px;
  padding: 0 !important;
}

@media (max-width: 780px) {
  .sm\:rounded-tr-\[30px\] {
    border-top-right-radius: 30px;
  }

  .sm\:pb-3 {
    padding-bottom: 0.75rem;
  }

  .sm\:pt-6 {
    padding-top: 1.5rem;
  }

  ul.space-y-1.font-medium {
    margin-left: 4px;
  }
}

div#tooltip-bottom:before {
  content: "";
  position: absolute;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent;
  top: 50%;
  left: -14%;
  transform: translate(-54%, -11px);
}

/* navbar */
.loginpopup {
  min-width: 250px;
}

/* .notificationpopup {
  min-width: 500px;
  z-index: 99;
} */

.loginpopup:before,
.notificationpopup:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-top: 1px solid #8E94A9;
  border-left: 1px solid #8E94A9;
  transform: rotate(45deg);
  top: -8px;
  right: 14px;
}

@media(max-width:740px) {
  .notificationpopup {
    min-width: 200px;
  }
}

@media(max-width:375px) {

  .loginpopup {
    min-width: 190px;
  }


}

/* new screen popup */
.newscreenpopup {
  box-shadow: 0px 0px 30px 3px #ccc;
}

@media(max-width:767px) {
  div#otp input {
    width: 25px;
    height: 25px;
  }
}