.dotline {
  position: relative;
  border: 1px solid #8e94a9;
}

.dotline:before {
  position: absolute;
  content: "";
  left: -8px;
  top: -4px;
  width: 8px;
  height: 8px;
  background: #8e94a9;
  z-index: 9;
  border-radius: 50%;
}

.dotline::after {
  position: absolute;
  content: "";
  right: -5px;
  top: -4px;
  width: 8px;
  height: 8px;
  background: #8e94a9;
  z-index: 9;
  border-radius: 50%;
}
.nav-text {
  position: relative;
  cursor: pointer;
  padding: 6px 0px 6px 0px;
}

.link-items:before,
li.relative.py-2:before {
  content: "";
  position: absolute;
  left: -13px;
  top: 4px;
  width: 2px;
  height: 90%;
  background: transparent;
  border-radius: 50px;
}
.link-items:hover::before,
li.relative.py-2:hover:before {
  background: #fff;
  transition: 2s all;
}
.nav-text a {
  color: #8e94a9;
  font-size: 14px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
img.cursor-pointer.profilePopup {
  margin: 0;
  width: 17px;
  height: 21px;
  background: #fff !important;
  padding: 0;
}
/* sidebar */

@media (max-width: 767px) {
  .sm\:rounded-tr-\[30px\] {
    border-top-right-radius: 30px;
  }
  .sm\:pb-3 {
    padding-bottom: 0.75rem;
  }
  .sm\:pt-6 {
    padding-top: 1.5rem;
  }
  ul.space-y-1.font-medium {
    margin-left: 4px;
  }
}
